{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}

    <section class="main-body">

                            <div class="row">

                                <div class="large-9 medium-8 columns">
                                    <div class="view-header" style="margin-top: 25px;">
                            <h1 class="section-title">О нас</h1></div>
                                    <section class="ama-article">
                                        <div class="addthis_sharing_toolbox text-right"></div>
                                        <hr>
                                        <div class="field field-name-body field-type-text-with-summary field-label-hidden field-wrapper body field">
                                        Ассоциация Семейных Врачей Казахстана (АСВК)

 – это общественная организация, которая ставит своей целью развитие семейной медицины в Казахстане и повышение статуса и роли семейных врачей.

Мы работаем в направлении профессиональной поддержки врачей и создании профессиональной аккредитации и аттестации семейных врачей.

Наша аудитория это медицинские работники и пациенты. Через такие инструменты как тренинги, семинары, симпозиумы, конференции мы внедряем непрерывное повышение качества медицинских услуг, а посредством различных проектов мы обучаем и повышаем уровень осведомленности населения о различных заболеваниях.

АСВК была создана в 1998 году и зарегистрирована в Министерстве Юстиции 1 июня 1999 г. На сегодняшний день действует 11 филиалов по Казахстану. В настоящее время АСВК насчитывает более тысячи членов.

Основной целью АСВК является содействие в становлении и развитии специальности семейного врача, повышение общественного статуса и роли семейных врачей, укрепление семейной медицины и профессиональная поддержка врачей в дальнейшем, создание новой системы обучения, профессиональной аттестации семейных врачей - членов АСВК.

АСВК ставит перед собой следующие задачи:

содействие непрерывному обучению семейных врачей, участие в разработке программ обучения;
обеспечение семейных врачей достоверной информацией о передовых технологиях в области диагностики, лечения, профилактики заболеваний, управления семейными врачебными амбулаториями, внедрение в практику семейных врачей научно-обоснованной медицины;
осуществление издательской деятельности по проблемам семейной медицины;
участие в реформировании здравоохранения в соответствии с действующим законодательством;
представительство семейных врачей на различных уровнях государственного управления, взаимодействие и сотрудничество с негосударственными организациями и средствами массовой информации для эффективной реализации уставных целей;
обеспечение защиты профессиональных, социальных, экономических, научных, правовых интересов семейного врача;
участие, организация и проведение конференций, симпозиумов, семинаров, циклов обучения и лекций в области семейной медицины, создании критериев профессиональной пригодности семейных врачей, систем оценки профессиональных знаний и навыков;
организация новых для Республики Казахстан форм обмена информацией;
сотрудничество с различными международными организациями;
изыскание материальной и технической помощи (гранты, партнерства и пр.) для поддержки специальности - семейный врач
Мы можем гордиться, что одними из первых в СНГ, 12 апреля 2003 года, стали действительными членами Всемирной Организации Семейных Врачей WONCA.
                                        </div>
                                </p>
                                        <br>
                        </section>

                </div>
            </div>
        </section>
{% endblock %}