{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}

    <section class="main-body">

                            <div class="row">

                                <div class="large-9 medium-8 columns">
                                    <div class="view-header" style="margin-top: 25px;">
                            <h1 class="section-title">О нас</h1></div>
                                    <section class="ama-article">
                                        <div class="addthis_sharing_toolbox text-right"></div>
                                        <hr>
                                        <div class="field field-name-body field-type-text-with-summary field-label-hidden field-wrapper body field">
Цель деятельности Ассоциации – признанная обществом эффективная и безопасная национальная система охраны здоровья, основанная на уважении и защите чести и достоинства граждан.

Цель — реализация собственных проектов и программ, содействие государственным органам власти, общественным объединениям и добросовестному бизнесу в деятельности, направленной на защиту здоровья нации.

Первоочередные задачи Ассоциации:

активное участие в реформировании и создании эффективной системы отечественного здравоохранения;
восстановление престижа профессии врача;
социальная поддержка врачей;
оценка безопасности, качества продуктов питания и эффективности средств и методов медицинского назначения;
предоставление обществу объективной информации о свойствах продукции, методах лечения и оздоровления, влияющих на здоровье;
участие в создании целостной системы, предоставляющей каждому гражданину страны возможность использования профессиональных знаний о здоровье;
пропаганда населению здорового образа жизни;
инновационная деятельность.
Развитие Ассоциации Заслуженных врачей происходит по межрегиональному принципу, через создание региональных отделений во всех регионах страны.
                                        </div>
                                </p>
                                        <br>
                        </section>

                </div>
            </div>
        </section>
{% endblock %}